In [2]:
import numpy as np
from scipy import stats # importando scipy.stats.
import pandas as pd # importando pandas
df = pd.read_csv("Pair Programming 2/2019.csv")
df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

**Los objetivos de hoy son:**


1- **Buscar un conjunto de datos a analizar:**

Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que tambien se analizarán.

*Hemos seleccionado un dataset de la página "Kaggle", que es un informe que trata sobre el estado de la felicidad en el mundo y que recoge indicadores adicionales a los económicos para tratar el bienestar.*

2- **Extraer las siguentes estadísiticas del conjunto de datos para varias de las varibles disponibles:**

-**Media**

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Overall rank,156.0,78.500000,45.177428,1.000,39.75000,78.5000,117.25000,156.000
Score,156.0,5.407096,1.113120,2.853,4.54450,5.3795,6.18450,7.769
GDP per capita,156.0,0.905147,0.398389,0.000,0.60275,0.9600,1.23250,1.684
Social support,156.0,1.208814,0.299191,0.000,1.05575,1.2715,1.45250,1.624
Healthy life expectancy,156.0,0.725244,0.242124,0.000,0.54775,0.7890,0.88175,1.141
Freedom to make life choices,156.0,0.392571,0.143289,0.000,0.30800,0.4170,0.50725,0.631
Generosity,156.0,0.184846,0.095254,0.000,0.10875,0.1775,0.24825,0.566
Perceptions of corruption,156.0,0.110603,0.094538,0.000,0.04700,0.0855,0.14125,0.453

In [6]:
df_españa = df[df["Country or region"] == "Spain"]
df_españa

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
29,30,Spain,6.354,1.286,1.484,1.062,0.362,0.153,0.079

In [9]:
media_gdp = df["GDP per capita"].mean()
media_gdp

0.9051474358974363

In [12]:
media_healthy = df["Healthy life expectancy"].mean()
media_healthy

0.7252435897435898

In [13]:
media_corruption = np.mean(df["Perceptions of corruption"])
media_corruption

0.11060256410256411

- **Desviación con respecto de la media**

In [15]:
desviacion_mediagdp = np.abs(df["GDP per capita"] - media_gdp)
desviacion_mediagdp

0      0.434853
1      0.477853
2      0.582853
3      0.474853
4      0.490853
         ...
151    0.546147
152    0.429147
153    0.555147
154    0.879147
155    0.599147
Name: GDP per capita, Length: 156, dtype: float64

In [16]:
desviacion_mediahealthy = np.abs(df["Healthy life expectancy"] - media_healthy)
desviacion_mediahealthy

0      0.260756
1      0.270756
2      0.302756
3      0.300756
4      0.273756
         ...
151    0.111244
152    0.226244
153    0.364244
154    0.620244
155    0.430244
Name: Healthy life expectancy, Length: 156, dtype: float64

In [17]:
desviacion_mediacorruption = np.abs(df["Perceptions of corruption"] - media_corruption)
desviacion_mediacorruption

0      0.282397
1      0.299397
2      0.230397
3      0.007397
4      0.187397
         ...
151    0.300397
152    0.036397
153    0.085603
154    0.075603
155    0.019603
Name: Perceptions of corruption, Length: 156, dtype: float64

- **Varianza**

In [18]:
varianza_gdp = np.var(df["GDP per capita"])
varianza_gdp

0.15769676672419455

In [19]:
varianza_healthy = np.var(df["Healthy life expectancy"])
varianza_healthy

0.05824823553583172

In [20]:
varianza_corruption = np.var(df["Perceptions of corruption"])
varianza_corruption

0.008880111275476658

- **Desviación típica**

In [21]:
destipica_gdp = np.std(df["GDP per capita"])
destipica_gdp

0.39711052205172626

In [22]:
destipica_healthy = np.std(df["Healthy life expectancy"])
destipica_healthy

0.24134671229546867

In [23]:
destipica_corruption = np.std(df["Perceptions of corruption"])
destipica_corruption

0.09423434233588442

- **Moda**

In [ ]:
#moda, frecuencia = stats.mode(datos)