# 03/05 - Pair Programming Limpieza 1 - Guadalupe & Lara

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("union_ataques.csv")
df.head(2)

df2 = df.copy()

In [6]:
columnas = {col : col.replace(" ", "_").lower() for col in df2.columns}

df2.rename(columns = columnas, inplace = True)

df2.head(2)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,fatal_(y/n),injury,date
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,N,Minor injury to left thigh,18-Jun-2018

In [7]:
df2.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23', 'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [8]:
df2.drop(["href", "unnamed:_22", "unnamed:_23", "case_number.1", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"], axis = 1, inplace = True)

In [9]:
df2 = df2.set_index("unnamed:_0")
df2

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,fatal_(y/n),injury,date
unnamed:_0,,,,,,,,,,,,,,,
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6283,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,Y,"FATAL. ""Shark bit him in half, carrying away t...",1845-1853
6284,2017.01.08.R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"No attack, shark made a threat display",Reported 08-Jan-2017
6285,1836.08.19.R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,FATAL,Reported 19-Aug-1836
6286,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6287,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna más. En este caso vamos tendréis que eliminar las columnas que no nos sean útiles para contestar a nuestras preguntas. Pero ojo ⚠️, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

# Ejercicio 1

Hay valores duplicados en nuestro dataframe? En caso de que los haya, eliminándolos.

In [10]:
filas_duplicadas = df2.duplicated().sum()
filas_duplicadas

0

No tenemos valores duplicados en nuestro dataframe. ✌️ 

En caso de que quisiéramos eliminar algún registro duplicado utilizaríamos df.drop.duplicates(subsets = ["lista_columnas"])

# Ejercicio 2
Como hemos visto, algunas columnas no tienen el tipo de datos que deberían. Cambiad el tipo de dato para la columna de year.

In [11]:
df2.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
fatal_(y/n)     object
injury          object
date            object
dtype: object

In [12]:
#Cambiamos "year" a tipo de dato fecha mediante astype
df2["year"].astype("datetime64", errors = "ignore", copy = True)
df2.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
fatal_(y/n)     object
injury          object
date            object
dtype: object

In [13]:
#Cambiamos a tipo fecha con el método "to_datetime" y sigue siendo "float64"
pd.to_datetime(df2["year"])
df2.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
fatal_(y/n)     object
injury          object
date            object
dtype: object

In [14]:
#Cambiamos "year" a tipo int como en la teoría.

df2["year"] = df2["year"].astype('Int64', errors = "ignore") 
df2.dtypes

#Nos quedamos con esta versión que creemos que es la correcta y que muestra el año como un int (esto puede facilitar hacer operaciones, como saber diferencia de años xD)

case_number    object
year            Int64
type           object
country        object
area           object
location       object
activity       object
name           object
sex_           object
age            object
time           object
species_       object
fatal_(y/n)    object
injury         object
date           object
dtype: object

# Ejercicio 3
En la columna de country poner todos los valores en minúsculas.
💡 Pista Tendréis que usar una función o una lambda 💡

In [29]:
df2["country"].dtypes

dtype('O')

In [51]:
df2["country"].isna().sum()

54

In [54]:


df2["country"].

USA                      2222
AUSTRALIA                1335
SOUTH AFRICA              577
PAPUA NEW GUINEA          134
NEW ZEALAND               127
                         ...
ARGENTINA                   1
SUDAN?                      1
THE BALKANS                 1
NORTH ATLANTIC OCEAN        1
CEYLON (SRI LANKA)          1
Name: country, Length: 212, dtype: int64

In [50]:
df2["country"].dtypes

dtype('O')

In [57]:
def minusculizator (columna):
    try:
        columna = columna.lower()
    except:
        pass
    return columna

In [59]:
df2["country"] = df2["country"].apply(minusculizator)

df2["country"]

unnamed:_0
0                      usa
1                      usa
2                      usa
3                australia
4                   mexico
               ...
6283    ceylon (sri lanka)
6284                   NaN
6285                   NaN
6286                   NaN
6287                   NaN
Name: country, Length: 6288, dtype: object

# Ejercicio 4
Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [52]:
df2.to_csv("ataques_enproceso.csv")