# 10/05 - Pair Programming Limpieza 4 - Guadalupe & Lara

Es el momento de ponernos a trabajar con los valores nulos 游눩游낗. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci칩n hemos aprendido varios m칠todos, nosotras os planteamos los ejercicios pero sentiros libres de usar el m칠todo que m치s se adapte a vuestras necesidades. Manos a la obra!

In [99]:
import pandas as pd
import numpy as np

In [100]:
df = pd.read_csv("ataques_enproceso3.csv", index_col = 0)

In [101]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,white_shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,usa,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,14h00 -15h00,unspecified,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,unspecified,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,2018.0,Unprovoked,australia,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,unspecified,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,2018.0,Provoked,mexico,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,tiger_shark,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

- Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. 쮿ay alguna columna con una gran cantidad de nulos? En caso de que sea as칤 deberemos eliminarla.

In [102]:
nulos = df.isnull().sum()
porcentaje = (nulos/ df.shape[0] * 100).round()

tabla = pd.DataFrame([nulos, porcentaje]).T
tabla.columns = ["nulos", "porcentaje"]
tabla

              nulos  porcentaje
case_number     1.0         0.0
year            4.0         0.0
type            8.0         0.0
country        54.0         1.0
area          458.0         7.0
location      543.0         9.0
activity      546.0         9.0
name          213.0         3.0
sex_          568.0         9.0
age          2824.0        45.0
time         3344.0        53.0
species_        0.0         0.0
fatal_(y/n)   537.0         9.0
injury         30.0         0.0
date            2.0         0.0

**Es el momento de eliminar los nulos:**
- Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [103]:
df["age"].dtypes

dtype('O')

In [104]:
media_edad = df["age"].mean()
#media_edad

TypeError: can only concatenate str (not "int") to str

- En relaci칩n a la columna de country al tratarse de una columna de tipo categ칩rica, reemplazad los valores nulos por una nueva categ칩ria que se llame Unknown.

In [ ]:
df["country"].fillna(value = "Unknown", inplace = True)


#Comprobamos cu치ntos "unknown" hay, que son los 54 nulos sustituidos:
(df["country"] == "Unknown").sum()

54

- Reemplazad los valores nulos de la columna fatal por Unknown

In [ ]:
df["fatal_(y/n)"].isna().sum()

537

In [ ]:
df["fatal_(y/n)"].fillna(value = "Unknown", inplace = True)
#Comprobamos cu치ntos "unknown" hay, que son los 54 nulos sustituidos:
(df["fatal_(y/n)"] == "Unknown").sum()

537

In [ ]:
df["fatal_(y/n)"].isna().sum()

0

- Reemplazad los valores nulos de la columna type por el valor m치s frecuente (la moda)

In [ ]:
df["type"].isna().sum()

0

In [ ]:
df["type"].replace(np.nan, df["type"].mode()[0], inplace = True)
#Comprobamos cu치ntos registros con el valor "unprovocked" hay, que son los que hab칤a (4584) m치s los 8 nans que hemos convertido (4692)
(df["type"] == "Unprovoked").sum()

4592

In [ ]:
df["type"].isna().sum()

0

- Reemplazad los valores nulos de la columna fecha por Unknown

In [ ]:
df["date"].replace(np.nan, "Unknown", inplace = True)

- Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair

In [105]:
df.to_csv("4.Ataques_enproceso_4.csv")