# 17/05 - Pair Programming ETL 2 - Guadalupe & Lara

In [2]:
import pandas as pd
pd.options.display.max_columns = None

Tendréis que usar el csv attacks_limpieza_completa.

En la lección de hoy aprendimos como transformar nuestros datos para que estén preparados para almacearlos en una BBDD. En este momento tenemos dos fuentes de datos:

- El csv con los ataques de tiburones que hemos estado limpiando hasta ahora. Usad el que no tenía las variables categóricas codificadas.
- El csv con los datos climáticos de los principales paises que tienen ataques de tiburones.

El objetivo de la sesión de hoy será juntar en un único csv la información de ambas fuentes. Para ello:
- Cargaremos los dos ficheros de datos
- Del dataframe de los ataques nos quedaremos solo con las filas de los paises que seleccionamos en la lección de ayer: USA, Australia, New Zealand, South Africa, Papua New Guinea
- Del dataframe de los datos climáticos seleccionaremos todas las columnas.

Cuando ya tengamos todos los datos deseados juntaremos los dos csv.

Para hacer esta unión tendremos que hacer un groupby en la tabla de clima para sacar una media de las medidas climáticas por pais.

Antes de hacer el groupby si nos fijamos tenemos dos columnas rh_profile y wind_profile cuya información es una lista de diccionarios. Si intentamos hacer la media de eso no nos dará un valor real. Como separar esta información en distintas columnas fue un problema al que nos enfrentamos en la clase invertida de ETL-2, donde teníais un Bonus para desempaquetar esta información. 
En caso de que en aquel ejercicio no lo consiguierais os dejamos por aquí una posible solución que nos permite separar esa información en distintas columnas. Os dejamos el código documentado. 
⚠️ Os recomendamos que vayáis desgranando el código y viendo lo que nos devuelve cada línea de código para entenderlo mejor.

In [3]:
attacks_entero = pd.read_csv("attacks_limpieza_completa.csv", index_col= 0)

#Cogemos las primeras columnas para seguir el enunciado y no tener las variables categóricas codificadas:

attacks_cols = attacks_entero[['year', 'type', 'country', 'age', 'species_', 'fecha_limpia', 'fatal',
       'sex', 'latitud', 'longitud']]

attacks_cols.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882

In [4]:
#Sacamos las columnas con las que vamos a trabajar, las de los 5 países con más ataques:

attacks = attacks_cols[attacks_cols["country"].isin(["usa", "australia", "new zealand", "south africa", "papua nueva guinea"])]
attacks

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.783730,-100.445882
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.783730,-100.445882
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.783730,-100.445882
3,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000
5,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000
...,...,...,...,...,...,...,...,...,...,...
6210,0,Unprovoked,south africa,27.0,Unespecific,Jul,Y,M,-28.816624,24.991639
6212,0,Unprovoked,usa,27.0,Unespecific,Unknown,N,F,39.783730,-100.445882
6213,0,Unprovoked,australia,27.0,Tiger shark,Unknown,Y,M,-24.776109,134.755000
6214,0,Unprovoked,australia,27.0,Tiger shark,Unknown,Y,M,-24.776109,134.755000
6215,0,Unprovoked,australia,27.0,Tiger shark,Unknown,Y,M,-24.776109,134.755000

In [21]:
attacks.shape

(4209, 10)

In [5]:
#Este debe de ser el resultado, creo, de lo que hagamos hoy. Así que no lo usamos. Y cargo el de ETL1.
df2 = pd.read_csv("datos_union_clima_ataques.csv", index_col=0)
df2.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex,pais,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,11,14h00 -15h00,NaN,Minor injury to left thigh,Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

In [6]:
clima = pd.read_csv("datos_clima.csv", index_col = 0).reset_index()
clima.head()

,index,country,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,0,USA,3,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 5, 'speed': 1...",23,2,8,1017,none,0,0,195,2
1,1,USA,6,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 65, 'speed': ...",22,2,9,1018,none,0,0,50,2
2,2,USA,9,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 7}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 70, 'speed': ...",23,-1,6,1018,none,0,0,80,3
3,3,USA,12,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 6}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 95, 'speed': ...",22,2,5,1018,none,0,0,95,3
4,4,USA,15,2,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 165, 'speed':...",21,2,5,1017,none,0,0,145,2

In [7]:
#Como en este df el country aparece en mayúsculas, reciclamos una función para transformar a minúsculas:
def minusculizator (columna):
    try:
        columna = columna.lower()
    except:
        pass
    return columna

clima["country"] = clima["country"].apply(minusculizator)
clima.head(2)

,index,country,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,0,usa,3,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 5, 'speed': 1...",23,2,8,1017,none,0,0,195,2
1,1,usa,6,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 65, 'speed': ...",22,2,9,1018,none,0,0,50,2

Desempacamos las columnas "wind_profile" y rh_profile:

In [8]:
import ast

#WIND
clima['wind_profile'] = clima['wind_profile'].apply(ast.literal_eval)
wind = clima['wind_profile'].apply(pd.Series)

In [9]:
#RH
clima['rh_profile'] = clima['rh_profile'].apply(ast.literal_eval)
rh = clima['rh_profile'].apply(pd.Series)

In [10]:
for i in range(len(wind.columns)):
    #Wind: direction & speed
    nombre = "wind_dir_" + str(wind[i].apply(pd.Series)["layer"][0])
    nombre2 = "wind_speed_" + str(wind[i].apply(pd.Series)["layer"][0])
    direc = list(wind[i].apply(pd.Series)["direction"])
    speed = list(wind[i].apply(pd.Series)["speed"])
    
    #RH
    nombre_rh = "rh_" + str(rh[i].apply(pd.Series)["layer"][0])
    valor_rh = list(rh[i].apply(pd.Series)["rh"])
    

    clima.insert(i, nombre, direc)
    clima.insert(i, nombre2, speed)
    clima.insert(i, nombre_rh, valor_rh)

In [11]:
clima.head(2)

,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_speed_200mb,wind_dir_200mb,wind_speed_250mb,wind_dir_250mb,wind_speed_300mb,wind_dir_300mb,wind_speed_350mb,wind_dir_350mb,wind_speed_400mb,wind_dir_400mb,wind_speed_450mb,wind_dir_450mb,wind_speed_500mb,wind_dir_500mb,wind_speed_550mb,wind_dir_550mb,wind_speed_600mb,wind_dir_600mb,wind_speed_650mb,wind_dir_650mb,wind_speed_700mb,wind_dir_700mb,wind_speed_750mb,wind_dir_750mb,wind_speed_800mb,wind_dir_800mb,wind_speed_850mb,wind_dir_850mb,wind_speed_900mb,wind_dir_900mb,wind_speed_950mb,wind_dir_950mb,index,country,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,4,4,5,6,6,5,-3,-3,-2,-1,0,-1,0,4,16,16,5,265,4,270,5,275,5,280,4,275,4,270,3,255,3,245,3,260,3,275,3,255,2,165,3,105,3,85,2,115,1,5,0,usa,3,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 5, 'speed': 1...",23,2,8,1017,none,0,0,195,2
1,4,2,4,5,5,0,-3,-4,-4,-2,-1,0,1,4,11,16,5,265,5,260,5,260,4,255,5,270,4,265,3,250,4,275,5,280,5,275,3,265,3,180,3,185,3,145,2,120,2,65,1,usa,6,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 65, 'speed': ...",22,2,9,1018,none,0,0,50,2

# Medias de las columnas climáticas por país

In [20]:

for pais in clima["country"] == pais:d



clima_agrupadas = pd.DataFrame(clima_agrupadas)

                  0                                                  1
0         australia       rh_950mb  rh_900mb  rh_850mb  rh_800mb  r...
1       new_zealand       rh_950mb  rh_900mb  rh_850mb  rh_800mb  r...
2  papua_new_guinea       rh_950mb  rh_900mb  rh_850mb  rh_800mb  r...
3      south_africa       rh_950mb  rh_900mb  rh_850mb  rh_800mb  r...
4               usa      rh_950mb  rh_900mb  rh_850mb  rh_800mb  rh...